:not(html):not(body)::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 100px;
}
:not(html):not(body)::-webkit-scrollbar:vertical {
  width: 10px;
}
:not(html):not(body)::-webkit-scrollbar:horizontal {
  height: 10px;
}
:not(html):not(body)::-webkit-scrollbar:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

:not(html):not(body)::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
:not(html):not(body)::-webkit-scrollbar-thumb:vertical {
  min-height: 10px;
}

:not(html):not(body)::-webkit-scrollbar-thumb:horizontal {
  min-width: 10px;
}
:not(html):not(body)::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.61);
}
